:root {
    scroll-behavior: smooth;
    color: #FFF;
}

body {
    font-family: "Open Sans", sans-serif;
    background: #7D2948;
    color: #000;
}

a {
    color: #7D2948;
    text-decoration: none;
}

a:hover {
    color: #7D2948;
    text-decoration: none;
}

button {
    background-color: #ED8554;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
}

/* Card */
.card {
    margin-bottom: 30px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0 3px #fff;
    width: 80vh;
}

.card-title {
    padding: 20px 0 15px 0;
    font-size: 18px;
    font-weight: 500;
    color: #7D2948;
    font-family: "Raleway", sans-serif;}

.card-body {
    padding: 0 30px 30px 30px;
}

.create-account{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo span {
    font-size: 36px;
    font-weight: 700;
    color: #fff;
    font-family: "Raleway", sans-serif;
}

.back-to-top {
    color: #FFF;
}

.back-to-top:hover {
    color: #ED8554;
}

.btn {
    background-color: #ED8554;
    border-color: #ED8554;
    color: #FFF;
}

.btn:hover {
    background-color: #ec6f35;
    border-color: #ec6f35;
    color: #FFF;
}