{% extends "base-auth.html" %}
{% load static %}

{% block 'title' %}
SELETI.VE | Login
{% endblock%}

{% block 'head' %}
<link href="{% static 'css/login.css' %}" rel="stylesheet">
{% endblock%}

{% block 'body' %}

<div class="wrapper">
    <div class="box">
        <div class="header">
            <h3 class="titulo">Login</h3>
        </div>

        {% if messages %}
        {% for message in messages %}
        <br>
        <section class="alert {{message.tags}}">
            {{message}}
        </section>
        {% endfor %}
        {% endif %}

        <div class="body-box">
            <form action="{% url 'login' %}" method="POST"> {% csrf_token %}
                    <span class="span-descricao">Username:</span>
                    <input type="text" class="form-control input-cadastro" name="username">
                    <br>
                    <span class="span-descricao">Senha:</span>
                    <input type="password" class="form-control input-cadastro" name="password">
                    <br>
                    <input type="submit" value="LOGAR" class="btn btn-success btn-lg">
                    <a href="{% url 'cadastro' %}" class="btn btn-primary btn-lg">CADASTRO</a>
            </form>
        </div>
    </div>
</div>

{% endblock %}