.titulo {

    color: #7D2948;
    font-weight: bold;

}

.paragrafo {
    font-size: 25px;
}

.btn-orange {

    background-color: #ED8554;
    color: white;
}

label {
    font-weight: bold;
}

.box-vagas {

    width: 400px;
    margin-top: 60px;
    background-color: #EDE6E6;
}

.header-vagas {
    background-color: #7D2948;
    padding: 15px;
    color: white
}

.body-vagas {
    padding: 15px;
}

.paragrafo-orange {
    color: #ED8554;
}


/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #7d2948f3;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: all 0.4s;
}

.back-to-top i {
    font-size: 28px;
    color: #fff;
    line-height: 0;
}

.back-to-top:hover {
    background: #7d2948;
    color: #fff;
}

.back-to-top.active {
    visibility: visible;
    opacity: 1;
}